language:
    - php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

env:
    - WP_VERSION=latest WP_MULTISITE=0

matrix:
    allow_failures:
        - php: hhvm

cache:
    directories:
        - node_modules

before_script:
    - export PATH=~/.composer/vendor/bin:$PATH
    - composer self-update
    - composer global require "phpunit/phpunit=>4"
    - composer global require "squizlabs/php_codesniffer=*"
    - git clone git://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards.git ~/.composer/vendor/squizlabs/php_codesniffer/CodeSniffer/Standards/WordPress
    - phpenv rehash
    - phpcs --config-set installed_paths ~/.composer/vendor/squizlabs/php_codesniffer/CodeSniffer/Standards/WordPress
    - phpcs -i
    - bash src/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - nvm install 0.12
    - npm install

script:
    - phpcs --standard=WordPress-Core . --extensions=php
    - gulp
    - "cd src && phpunit"

notifications:
    slack: sqweb:M0hKi2sdzb1VxoxtMeo4F3lh
    email: false

git:
  depth: 5
